@import "tailwindcss";




.content p {
    margin-bottom: 1rem;
}
.content br + br {
    display: block;
    content: '';
    margin-top: 1rem;
}

.content {
    white-space: pre-line;
}
  
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ProseMirror {
    min-height: 300px;
    outline: none;
}

.ProseMirror p {
    margin: 0;
}